# What are the average ratings by genre?

In [3]:
import pandas as pd
import numpy as np

In [4]:
# Reading datasets by using read_csv from pandas package
ratings = pd.read_csv("ratings.csv")
movie = pd.read_csv("movie.csv",index_col='movie id')

In [5]:
#get ratings by genre
movie_ratings = movie.merge(ratings,on='movie id',how='inner')
movie_ratings.head()

,movie id,movie title,release date,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,...,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western,user id,rating,timestamp
0,1,Toy Story,1-Jan-95,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,308,4,887736532
1,1,Toy Story,1-Jan-95,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,287,5,875334088
2,1,Toy Story,1-Jan-95,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,148,4,877019411
3,1,Toy Story,1-Jan-95,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,280,4,891700426
4,1,Toy Story,1-Jan-95,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,66,3,883601324

In [6]:
movie_ratings.columns

Index(['movie id', 'movie title', 'release date', 'Action', 'Adventure',
       'Animation', 'Childrens', 'Comedy', 'Crime', 'Documentary', 'Drama',
       'Fantasy', 'Film-Noir', 'Horror', 'Musical', 'Mystery', 'Romance',
       'Sci-Fi', 'Thriller', 'War', 'Western', 'user id', 'rating',
       'timestamp'],
      dtype='object')

In [7]:
movie_ratings.shape

(99990, 24)

In [8]:
genre_movies = movie_ratings.loc[:,'Action':'Western']
genre_movies.head()

,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0

In [9]:
genre_movies.shape

(99990, 18)

In [11]:
genre_ratings = genre_movies.multiply(movie_ratings['rating'], axis="index")
genre_ratings.head()

,Action,Adventure,Animation,Childrens,Comedy,Crime,Documentary,Drama,Fantasy,Film-Noir,Horror,Musical,Mystery,Romance,Sci-Fi,Thriller,War,Western
0,0,0,4,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0
1,0,0,5,5,5,0,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,4,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,4,4,4,0,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,3,3,3,0,0,0,0,0,0,0,0,0,0,0,0,0

In [13]:
genre_ratings = genre_ratings.replace(0, np.NaN)
genre_ratings.mean()

Action         3.480245
Adventure      3.503527
Animation      3.576699
Childrens      3.353244
Comedy         3.394073
Crime          3.632278
Documentary    3.672823
Drama          3.687379
Fantasy        3.215237
Film-Noir      3.921523
Horror         3.290389
Musical        3.521397
Mystery        3.638132
Romance        3.621705
Sci-Fi         3.560723
Thriller       3.509007
War            3.815812
Western        3.613269
dtype: float64

In [16]:
movie_ratings.to_csv('movie_ratings.csv')